* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'comic sans ms', sans-serif;
  background-color: #ffffff;
}

/* Header */

header {
  display: flex;
  width: 100%;
  margin: -100px auto;
  min-height: 10vh;
  align-items: center;
  padding-top: 1em;
  position: fixed;
  background-color: rgb(253, 251, 247);
}

.logo {
  flex: 1;
  width: 10%;
  cursor: pointer;
  font-family: 'comic sans ms', sans-serif;
}

nav {
  flex-grow: 1;
}

.cart {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.cart img {
  width: 80px;
  justify-content: flex-end;
  cursor: pointer;
}
.nav-link {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-links {
  text-decoration: none;
  color: black;
}
/* Akhir Header */

/* Slide */
.slide-show {
  max-width: auto;
  margin: 100px 0;
  height: 400px;
  position: relative;
}

.slide-show p {
  text-align: center;
  font-size: 20px;
  background-color: rgb(168, 167, 167, 0.4);
  margin: 150px 300px;
  padding: 30px;
  border-radius: 10px;
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide1 {
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: 0 -200px;
  animation: fade 8s infinite;
  -webkit-animation: fade 8s infinite;
}
.slide2 {
  background-image: url(img/bg2.jpg);
  background-size: cover;
  background-position: 0 -200px;
  animation: fade2 8s infinite;
  -webkit-animation: fade2 8s infinite;
}
.slide3 {
  background-image: url(img/bg3.jpg);
  background-size: cover;
  background-position: 0 -200px;
  animation: fade3 8s infinite;
  -webkit-animation: fade3 8s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Akhir Slide */

/* Main */
.product {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  min-height: 90vh;
  /* color: #707070; */
  color: black;
  z-index: 999;
}

.text-product p {
  margin: 30px 0;
  font-size: 30px;
  font-family: 'comic sans ms', sans-serif;
}

.text-product h2 {
  font-size: 45px;
}

.img-product img {
  transform: translatex(200px);
  width: 300px;
  cursor: pointer;
}

.text-product button {
  background-color: #f67f68;
  border: none;
  color: #494949;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
}

main .bg1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  border-top-left-radius: 5px;
  z-index: -999;
  opacity: 0.2;
}
/* Akhir Main */

@media screen and (max-width: 950px) {
  .product {
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }

  .product h2 {
    font-size: 30px;
  }

  .img-product img {
    margin-right: 400px;
  }
}

/* Login */
.container {
  background-color: #faf6f6;
  height: 400px;
  width: 400px;
  margin: 120px auto;
}

.foto {
  text-align: center;
}

.foto h1 {
  font-family: 'comic sans ms', sans-serif;
}

.foto img {
  width: 100px;
  margin-top: -50px;
}

form {
  width: 80%;
  margin: 30px auto;
  margin: 20px auto;
  padding: 10px;
}

form input {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'comic sans ms', sans-serif;
}

form button {
  width: 100%;
  height: 40px;
  background-color: rgb(184, 184, 255);
  font-size: 15px;
  font-family: 'comic sans ms', sans-serif;
}

/* Akhir Login */

/* Barang */
section .container {
  display: flex;
  background-color: #faf6f6;
  padding: 20px 10px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  flex-wrap: wrap;
  height: 100%;
}

.container .barang img {
  width: 200px;
  margin: 20px 20px;
  margin-left: 40px;
}

.container .barang p {
  text-align: center;
}

.container .more a {
  margin-top: -50px;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 5px;
}

/* Akhir Barang */

/* testi */

section .testi .video-content {
  width: 300px;
  margin-left: 100px;
  top: 20px;
}

section .testi .video-content p {
  text-align: center;
}
/* Akhir Testi */

/* Contact */
section .form-contact form {
  margin: 50px auto;
  margin-bottom: 50px;
  width: 500px;
  background-color: #ffffff;
}
/* Akhir Contact */

/* footer */
.footer-content {
  width: 100%;
  height: 300px;
  background: #454545;
  position: relative;
  display: flex;
  padding: 50px 60px;
  justify-content: space-around;
  color: white;
}

.footer-content .content-buy img {
  width: 50px;
  padding: 10px 0;
}

.content-social ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.content-social ul li a img {
  width: 30px;
}

.footer-content .content-pesan form {
  width: 300px;
}

.footer-bottom {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Akhir footer */
